.institute-list-wrapper {
    width: 100%;
    .ilw-body {
      width: 100%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
      animation: opacity-change 0.3s 1 linear;
      .ilw-body-header {
        width: 100%;
        height: 10vh;
        width: 100%;
        background-color: var(--bg-color);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 2%;
        h4 {
          margin: 0;
          margin-right: auto;
          font-weight: 500;
        }
        .search-wrapper {
          margin-right: 10px;
          height: 35px;
          width: 25%;
          border-radius: 4px;
          border: 1px solid var(--border-color);
          padding: 2px;
          input {
            width: 100%;
            height: 100%;
            border: 0;
            background-color: transparent;
            padding: 0 10px;
            font-size: 100%;
            &::placeholder {
              color: var(--gray-color);
            }
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
      .ilw-table {
        width: 100%;
        border-collapse: collapse;
        thead {
          background-color: var(--light-main-color);
          th {
            text-align: left;
            font-weight: 500;
            padding: 10px 20px;
            text-transform: uppercase;
            border-collapse: collapse;
            font-size: 85%;
            &:nth-child(1) {
              width: 10%;
            }
            &:nth-child(2) {
              width: 15%;
            }
            &:nth-child(3) {
              width: 30%;
            }
            &:nth-child(4) {
              width: 30%;
            }
            &:nth-child(5) {
              width: 15%;
            }
          }
        }
        tbody {
          tr {
            height: 55px;
            border-bottom: 1px solid var(--border-color);
            td {
              padding: 10px 20px;
              &:nth-child(5) {
                button {
                  width: 50%;
                  margin-right: 5%;
                  background-color: var(--main-color);
                }
              }
              button {
                color: var(--bg-color);
                padding: 6px 12px;
                border: 0;
                font-size: 80%;
                border-radius: 20px;
                cursor: pointer;
              }
              input {
                background-color: transparent;
                border: 0;
              }
            }
          }
        }
      }
      
    .pagination-section {
      display: flex;
      list-style: none;
      padding: 1% 2%;
      border-top: 1px solid var(--border-color);
      justify-content: flex-end;
      li {
        cursor: pointer;
        height: 40px;
        width: 40px;
        border: 1px solid var(--border-color);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        &:hover{
          background-color: var(--border-color);
        }
      }
      .rc-pagination-item-active {
        background-color: #212121;
        color: var(--bg-color);
        &:hover{
          background-color: #212121;
        }
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
    }
  }
  