.institutes-review-main {
  width: 100%;
  border: 1px solid var(--gray-color);
  padding: 2% 8%;

  .institute-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    button {
      height: 12vh;
      width: 12vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--faint-white-half);
      border-radius: 50%;
      border: 0;
    }
    img{
        height: 12vh;
        width: 12vh;
        border-radius: 50%;
    }
  }
  .institutes-details{
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;

      .institute-details-card{
          width: calc(100% / 3);
          margin-bottom: 4vh;
          h5{
              font-size: 120%;
              font-weight: 600;
              margin: 0;
              margin-bottom: 5px;
          }
          p{
              margin: 0;
          }
      }

  }
  .address-section{
      border-bottom: 2px dashed var(--gray-color);
      .input-wrapper{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 4vh;
          p{
              margin-bottom: 10px;
          }
          textarea{
              width: 100%;
              padding: 5px;
              border-radius: 4px;
              resize: none;
          }
      }

  }
}
