html {
  --main-color: #1783a8;
  --bg-color: #ffffff;
  --gray-color: #a6a4b0 !important;
  --text-color: #fffffc;
  --secondary-color: #ec7d1a;
  --border-color: #e5e5e5;
  --second-color: #e4cb7d;
  --light-bg-color: #f7f9fa;
  --light-main-color: #ecedee;

  --faint-white: rgba(23, 131, 168, 0.1);
  --faint-white-two: rgba(23, 131, 168, 0.2);
  --faint-white-half: rgba(23, 131, 168, 0.3);
}
